@import 'styles/colors';
@import 'styles/mixins';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
    font-family: 'Montserrat-Medium';
}

.button_primary {
  background-color: $primary-100;
  padding: 18px 32px;
  color: $white-100;
}

.button_primary:hover {
  background-color: $primary-80;
}

.button_primary:active {
  background-color: $primary-80;
}

.button_secondary {
  background-color: $secondary-100;
  padding: 18px 32px;
  span {
    color: $white-100;
  }
}

.button_secondary:hover {
  background-color: $black-80;
}

.button_secondary:active {
  background-color: $secondary-100;
}

.button_primary:disabled {
  background-color: $black-15;
  span {
    color: $white-100;
  }
}

.button_secondary:disabled {
  background-color: $black-15;
  span {
    color: $white-100;
  }
}

.button_sm {
  padding: 10px 16px;
}

.button_md {
  padding: 10px 16px;
  min-height: 40px;
  min-width: 40px;
  @include respond-to(md) {
    min-height: 48px;
    min-width: 48px;
    padding: 14px 24px;
  }
}
