$primary-100: #b09e99ff;
$primary-80: #fad4c0ff;
$primary-50: #fee9e1ff;

$secondary-100: #64b6acff;
$seondary-80: #c0fdfbff;

$white-100: #ffffff;

$negative-100: #F20000;
$negative-10: #FFF0F0;

$black-100: #242729;
$black-80: #263742;
$black-50: #7B92A4;
$black-15: #DAE5EE;
$black-5: #F0F6FA;
