@import 'styles/mixins';
@import 'styles/colors';

.bottom_header {
    display: none;
    @include respond-to(md) {
        width: 1320px;
        margin-top: 28px;
        display: initial;
    }
}

.global_navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_link {
    text-decoration: none;
    text-align: center;
    color: $black-100;
    padding: 12px 18px;
}

.navigation_link:hover {
    color: $secondary-100;
    box-shadow: 0 2px $secondary-100;
}

.set_language {

}
